<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>ClariMind: Explore Your Mind's Potential</title>
</head>

<body>
    <section class="hero-banner">
        <div class="container-full flex justify-between">
            <div class="left-title flex flex-col justify-center">
                <h2>Welcome to ClariMind</h2>
                <p>Welcome to ClariMind, your gateway to unlocking the full potential of your mind. At
                    ClariMind, we believe in the power of exploration, creativity, and growth.</p>
                <p>Whether you're seeking new adventures or looking to enhance your personal
                    development journey, ClariMind is here to guide you every step of the way.!</p>
            </div>
            <div class="right-btn flex flex-col justify-center items-center">
                <h2>Get started</h2>
                <div class="btns flex justify-center">
                    <a href="/manual_login" class="primaryBtn">Login</a>
                    <a href="/signup" class="secondaryBtn">Signup</a>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/script/script.js"></script>
</body>

</html>
