<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Password Reset</title>
</head>

<body>
    <section class="formSection">
        <div class="container flex flex-col items-center justify-center">
            <h2>Reset your password</h2>
            <p>Enter your email address and we will send you instructions to reset your password.</p>
            <form action="password_reset" method="post">
                <fieldset>
                    <label for="email">Email Address:</label>
                    <input type="email" id="email" name="email" required>
                </fieldset>
                <fieldset>
                    <input type="submit" value="Continue">
                </fieldset>
            </form>
            <p>Already have an account? <a href="login.html">Log In</a></p>
            <p><a href="">Terms of use</a> | <a href="">Privacy policy</a></p>
        </div>
    </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/script/script.js"></script>

</html>