<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Check Your Email</title>
</head>

<body>
    <section class="check-email  formSection">
        <div class="container flex flex-col items-center justify-center">
            <figure class="email">
                <img src="../static/images/email.png" alt="images">
            </figure>
            <h2>Check Your Email</h2>
            <p>Please check the email address for verification of your account.</p>
            <a href="javascript:void(0);" class="resend-button primaryBtn">Resend email</a>
            <p>
                <a href="#">Terms of use</a> |
                <a href="#">Privacy policy</a>
            </p>
        </div>
    </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/script/script.js"></script>

</html>